
<script type="text/ng-template" id="research">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h3 class="modal-title" id ="modal-title">Research </h3> 
		<div>Artifacts are scattered throughout the universe and wield great power, collect them and improve your empire</div>
	</div>


	<div class="modal-body" ng-controller="GameCtrl">
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>

	</div>

</script>
