<style media="screen" type="text/css">

#resource_page{

  color:white;
}


.resource_table td:nth-of-type(2){
  padding-bottom: 5em;
  padding-left: 40px;
  vertical-align: bottom;
}


.spinner {
  height: 80px;
  width: 80px;



  -webkit-animation: rotation 1.3s infinite linear;
  -moz-animation: rotation 1.3s infinite linear;
  -o-animation: rotation 1.3s infinite linear;
  animation: rotation 1.3s infinite linear;
  border-left: 10px solid rgba(25, 157, 34, .15);
  border-right: 10px solid rgba(25, 157, 34, .15);
  border-bottom: 10px solid rgba(25, 157, 34, .15);
  border-top: 10px solid rgba(25, 157, 34, .8);
  border-radius: 100%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


.resource_img{
  	border-radius: 10px 10px 10px 10px;
}



</style>

<div class="row" id="resource_page">
      <table style="width:100%">
        <tr>
            <td style="text-align: center; width: auto">
              <h4>Metal Mine</h4>
            </td>
        </tr>
      </table>
      <table style="width:100%">
        <tr>
            <td>
              <small>Metal is the main resource for conducting research and the construction of buildings, ships, and defensive units. Exceptions are Solar Satellites, Espionage Probes, Energy Technology, Hyperspace Technology, Computer Technology and Graviton Technology. If you do not have a Metal Mine yet, you will be producing 30 units per hour (in normal universes). In speed universes the basic amount is higher, depending on the speed factor.
              </small>
            </td>
          </tr>
      </table>
      <table class="resource_table" style="width:100%">
          <tr>
            <td style="width: 500px">
              <img src="assets/images/icon/metal_mine.jpg" width="500" class="resource_img"/></div>
            </td>
            <td style="width: 200px;  ">
              <div class="spinner"></div>
              Status: Up 100% <br/><br/>
              Level {{metal.current_mine_level}}:<br/> {{metal.income}} <img src="assets/images/mineral.png" width="25" class ="artifact_img"/> per second <br/><br/>
            </td>
            <td>
              {{metal.current_cost}}<img src="assets/images/mineral.png" width="25" class ="artifact_img"/>
              <button class="btn btn-success btn-icon btn-icon-standalone btn-icon-standalone-right" ng-click="BuyMetalMine()">
                  <i class="fa-bolt"></i>
                  <span>Upgrade</span>
              </button>

            </td>
          </tr>

      </table>


  		<br />

      <table style="width:100%">
        <tr>
            <td style="text-align: center; width: auto">
              <h4>Crystal Mine</h4>
            </td>
        </tr>
      </table>
      <table style="width:100%">
        <tr>
            <td>
              <small>Metal is the main resource for conducting research and the construction of buildings, ships, and defensive units. Exceptions are Solar Satellites, Espionage Probes, Energy Technology, Hyperspace Technology, Computer Technology and Graviton Technology. If you do not have a Metal Mine yet, you will be producing 30 units per hour (in normal universes). In speed universes the basic amount is higher, depending on the speed factor.
              </small>
            </td>
          </tr>
      </table>
      <table class="resource_table" style="width:100%">
          <tr>
            <td style="width: 500px">
              <img src="assets/images/icon/crystal_mine.jpg" width="500" class="resource_img"/></div>
            </td>
            <td style="width: 200px;  ">
              <div class="spinner"></div>
              Status: Up 100% <br/><br/>
              Level {{crystal.current_mine_level}}:<br/> {{crystal.income}} <img src="assets/images/crystal.png" width="25" class ="artifact_img"/> per second <br/><br/>
            </td>
            <td>
              {{crystal.current_cost}}<img src="assets/images/crystal.png" width="25" class ="artifact_img"/>
              <button class="btn btn-success btn-icon btn-icon-standalone btn-icon-standalone-right" ng-click="BuyCrystalMine()">
                  <i class="fa-bolt"></i>
                  <span>Upgrade</span>
              </button>

            </td>
          </tr>

      </table>


      <br />

      <table style="width:100%">
        <tr>
            <td style="text-align: center; width: auto">
              Research Lab <br/>
            </td>
        </tr>
      </table>
      <table style="width:100%">
        <tr>
            <td>
              Metal is the main resource for conducting research and the construction of buildings, ships, and defensive units. Exceptions are Solar Satellites, Espionage Probes, Energy Technology, Hyperspace Technology, Computer Technology and Graviton Technology. If you do not have a Metal Mine yet, you will be producing 30 units per hour (in normal universes). In speed universes the basic amount is higher, depending on the speed factor.
            </td>
          </tr>
      </table>
      <table style="width:100%">
          <tr>
            <td style="width: 500px">
              <img src="assets/images/icon/research_lab.jpg" width="500" class="resource_img"/></div>
            </td>

            <td>
              Level: <span id="lablevel">{{research_lab.current_lab_level}}</span>
              <br />


              Upgrade Cost: <br/>
              <span id="labupgradecost">Metal: {{research_lab.current_cost_metal}}</span>
              <br/>
              <span id="labupgradecost">Crtstal: {{research_lab.current_cost_crystal}}</span>
              <br />

              <button ng-click="UpgradeLab()">Upgrade Research Lab</button>
            </td>
          </tr>

      </table>


      <br />

      <table style="width:100%">
        <tr>
            <td style="text-align: center; width: auto">
              Dark Matter Lab <br/>
            </td>
        </tr>
      </table>
      <table style="width:100%">
        <tr>
            <td>
              Metal is the main resource for conducting research and the construction of buildings, ships, and defensive units. Exceptions are Solar Satellites, Espionage Probes, Energy Technology, Hyperspace Technology, Computer Technology and Graviton Technology. If you do not have a Metal Mine yet, you will be producing 30 units per hour (in normal universes). In speed universes the basic amount is higher, depending on the speed factor.
            </td>
          </tr>
      </table>
      <table style="width:100%">
          <tr>
            <td style="width: 500px">
              <img src="assets/images/icon/dm_lab.jpg" width="500" class="resource_img"/></div>
            </td>

            <td style="width: 120px">
              <div class="spinner"></div>
              Status: Up 100% <br/>
              Dark Matter Per Day: {{dm_lab.income}}
            </td>

            <td>
              Level: <span id="dmlablevel">{{dm_lab.current_lab_level}}</span>
              <br />


              Upgrade Cost: <br/>
              <span id="dmlabupgradecost">Metal: {{dm_lab.current_cost_metal}}</span>
              <br/>
              <span id="dmlabupgradecost">Crtstal: {{dm_lab.current_cost_crystal}}</span>
              <br />

              <button ng-click="UpgradeDMLab()">Upgrade Dark Matter Lab</button>
            </td>
          </tr>

      </table>

  		<br />
  		<br />
  		<br />
  		<br />
  		<br />
  		<br />









</div>
