<style media="screen" type="text/css">

#resource_page{

  color:white;
}


.resource_table td:nth-of-type(2){
  padding-bottom: 5em;
  padding-left: 40px;
  vertical-align: bottom;
}


.spinner {
  height: 80px;
  width: 80px;



  -webkit-animation: rotation 1.3s infinite linear;
  -moz-animation: rotation 1.3s infinite linear;
  -o-animation: rotation 1.3s infinite linear;
  animation: rotation 1.3s infinite linear;
  border-left: 10px solid rgba(25, 157, 34, .15);
  border-right: 10px solid rgba(25, 157, 34, .15);
  border-bottom: 10px solid rgba(25, 157, 34, .15);
  border-top: 10px solid rgba(25, 157, 34, .8);
  border-radius: 100%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.no-animations {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    width: 0px;
}

.animated {
    -webkit-transition: linear 0.1s;
    -moz-transition: linear 0.1s;
    -ms-transition: linear 0.1s;
    -o-transition: linear 0.1s;
    transition: linear 0.1s;
    width: 0px;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: #000000;

}

.progress {
    position: relative;
    border: 0px solid #000000;
    height: 50px;
    margin: 0;
    padding: 0;
}
</style>

<div class="row" id="resource_page">

      <table style="width:100%">
        <tr>
            <td style="text-align: center; width: auto">
              <h4>Metal Mine (Level {{metal.current_mine_level}})</h4>
            </td>
        </tr>
      </table>
      <table style="width:100%">
        <tr>
            <td>
              <small>Metal is solid material that is typically hard, shiny, malleable, fusible, and ductile. It is the most basic resource for any empire that wants to upgrade its metal and crystal mine or building a fleet.
              </small>
            </td>
          </tr>
      </table>
      <table class="resource_table" style="width:100%" ng-if="metal.current_mine_level!=0">
          <tr>
            <td style="width: 500px">
              <img src="assets/images/icon/metal_mine.jpg" width="500" class="resource_img"/></div>
            </td>
            <td style="width: 300px;">
              <div class="spinner"></div>
              Status: Up 100% <br/><br/>
              
              <div id="metal_income">{{metal.income}} <img src="assets/images/mineral.png" width="25" class ="artifact_img"/> </div><br/><br/>
            </td>
            <td>




              
              {{metal.current_cost}}<img src="assets/images/mineral.png" width="25" class ="artifact_img"/>
              <button class="btn btn-success btn-icon btn-icon-standalone btn-icon-standalone-right" ng-click="BuyMetalMine()">
                  <i class="fa-bolt"></i>
                  <span>Upgrade</span>
              </button>

<br/>
<br/>
<div class='progress'><div class='progress-bar' ng-class="{'no-animations': counter == 0, 'animated': counter != 0}" role='progressbar' aria-valuenow='50' aria-valuemin='0' aria-valuemax='100' ng-style="{width: counter + '%'}"><span>Action: {{counter}}%</span></div></div>
            </td>
          </tr>

      </table>
      <table ng-if="metal.current_mine_level==0" class="resource_table" style="width:100%">
          <tr>
            <td style="width: 500px; position: relative;">
              <img src="assets/images/icon/metal_mine.jpg" width="500" class="resource_img image-grey"/></div>
              <div class="building_locked_image">
                <img src="assets/images/locked.png" width="50" />
              </div>
            </td>
            <td style="width: 300px; padding-bottom: 150px;">
             Requirements:<br/>
             <font color="#6AEB6A">None</font>
            </td>
            <td >

              <button class="btn btn-success btn-icon btn-icon-standalone btn-icon-standalone-right" ng-click="Build('metal_mine')">
                  <i class="fa-upload"></i>
                  <span>Build Metal Mine</span>
              </button>
            </td>
          </tr>

      </table>

      <br />

      <table style="width:100%">
        <tr>
            <td style="text-align: center; width: auto">
              <h4>Crystal Mine</h4>
            </td>
        </tr>
      </table>
      <table style="width:100%">
        <tr>
            <td>
              <small>Crystal is a material in which the atoms are arranged in a rigid geometrical structure marked by symmetry. It is harder to find than metal but widely used in research or building advanced ships for any empire. 
              </small>
            </td>
          </tr>
      </table>
      <table ng-if="crystal.current_mine_level!=0" class="resource_table" style="width:100%">
          <tr>
            <td style="width: 500px">
              <img src="assets/images/icon/crystal_mine.jpg" width="500" class="resource_img"/></div>
            </td>
            <td style="width: 300px;">
              <div class="spinner"></div>
              Status: Up 100% <br/><br/>
              Level {{crystal.current_mine_level}}:<br/> {{crystal.income}} <img src="assets/images/crystal.png" width="25" class ="artifact_img"/> per second <br/><br/>
            </td>
            <td>
              {{crystal.current_cost}}<img src="assets/images/crystal.png" width="25" class ="artifact_img"/>
              <button class="btn btn-success btn-icon btn-icon-standalone btn-icon-standalone-right" ng-click="BuyCrystalMine()">
                  <i class="fa-bolt"></i>
                  <span>Upgrade</span>
              </button>

            </td>
          </tr>

      </table>
      <table ng-if="crystal.current_mine_level==0" class="resource_table" style="width:100%">
          <tr>
            <td style="width: 500px; position: relative;">
              <img src="assets/images/icon/crystal_mine.jpg" width="500" class="resource_img image-grey"/></div>
              <div class="building_locked_image">
                <img src="assets/images/locked.png" width="50" />
              </div>
            </td>
            <td style="width: 300px; padding-bottom: 150px;">
             Requirements:<br/>
             <font ng-if="metal.current_mine_level>=3" color="#6AEB6A">Metal Mine Level 3 </font>
             <font ng-if="metal.current_mine_level<3" color="#F63249">Metal Mine Level 3 </font>
            </td>
            <td >
              <button class="btn btn-success btn-icon btn-icon-standalone btn-icon-standalone-right" ng-click="Build('crystal_mine')">
                  <i class="fa-upload"></i>
                  <span>Build Crystal Mine</span>
              </button>
            </td>
          </tr>

      </table>

      <br />

      <table style="width:100%">
        <tr>
            <td style="text-align: center; width: auto">
              <h4>Shipyard</h4>
            </td>
        </tr>
      </table>
      <table style="width:100%">
        <tr>
            <td>
              <small>Shipyard is the place where great fleets are built. One must upgrade his/her shipyard if he/she wants to build an advanced fleet. Upgrading shipyard also give a boost to ship building time.
              </small>
            </td>
          </tr>
      </table>
      <table ng-if="shipyard.current_lab_level!=0" class="resource_table" style="width:100%">
          <tr>
            <td style="width: 500px">
              <img src="assets/images/icon/shipyard.jpg" width="500" class="resource_img"/></div>
            </td>
            <td style="width: 300px;  padding-bottom: 150px;">

              Level {{shipyard.current_lab_level}}:<br/> <div id="attention">{{shipyard.current_lab_level * 2}}%</div> increase ship building speed<br/>
            </td>
            <td>

              {{shipyard.current_cost_metal}}<img src="assets/images/mineral.png" width="25" class ="artifact_img"/><br/>
              {{shipyard.current_cost_crystal}}<img src="assets/images/crystal.png" width="25" class ="artifact_img"/>
              <button class="btn btn-success btn-icon btn-icon-standalone btn-icon-standalone-right" ng-click="UpgradeShipyard()">
                  <i class="fa-bolt"></i>
                  <span>Upgrade</span>
              </button>

            </td>
          </tr>

      </table>
      <table ng-if="shipyard.current_lab_level==0" class="resource_table" style="width:100%">
          <tr>
            <td style="width: 500px; position: relative;">
              <img src="assets/images/icon/shipyard.jpg" width="500" class="resource_img image-grey"/></div>
              <div class="building_locked_image">
                <img src="assets/images/locked.png" width="50" />
              </div>
            </td>
            <td style="width: 300px; padding-bottom: 150px;">
             Requirements:<br/>
             <font ng-if="metal.current_mine_level>=10" color="#6AEB6A">Metal Mine Level 10 <br/></font>
             <font ng-if="metal.current_mine_level<10" color="#F63249">Metal Mine Level 10 <br/></font>
             <font ng-if="crystal.current_mine_level>=7" color="#6AEB6A">Crystal Mine Level 7 <br/></font>
             <font ng-if="crystal.current_mine_level<7" color="#F63249">Crystal Mine Level 7 <br/></font>
             <font ng-if="level.current_level>=10" color="#6AEB6A">Zone Level 10 <br/></font>
             <font ng-if="level.current_level<10" color="#F63249">Zone Level 10 <br/></font>
            </td>
            <td >
              <button class="btn btn-success btn-icon btn-icon-standalone btn-icon-standalone-right" ng-click="Build('shipyard')">
                  <i class="fa-upload"></i>
                  <span>Build Shipyard</span>
              </button>
            </td>
          </tr>


      <br />

      <table style="width:100%">
        <tr>
            <td style="text-align: center; width: auto">
              <h4>Research Lab</h4>
            </td>
        </tr>
      </table>
      <table style="width:100%">
        <tr>
            <td>
              <small>A facility that provides controlled conditions in which scientific or technological research, experiments, and measurement may be performed. The researches can help reduce ship building time. It can also increase the effectiveness of your fleets.
              </small>
            </td>
          </tr>
      </table>
      <table ng-if="research_lab.current_lab_level!=0" class="resource_table" style="width:100%">
          <tr>
            <td style="width: 500px">
              <img src="assets/images/icon/research_lab.jpg" width="500" class="resource_img"/></div>
            </td>
            <td style="width: 300px;  padding-bottom: 100px;">

              Level {{research_lab.current_lab_level}}:<br/> <div id="attention">{{research_lab.current_lab_level * 2}}%</div> increase ship building speed<br/>
              <div id="attention">{{research_lab.current_lab_level * 0.2}}%</div> increase all ships' attack<br/>
              <div id="attention">{{research_lab.current_lab_level * 0.15}}%</div> increase all ships' HP<br/>
              <div id="attention">{{research_lab.current_lab_level * 0.1}}%</div> increase all ships' shields<br/><br/>
            </td>
            <td>

              {{research_lab.current_cost_metal}}<img src="assets/images/mineral.png" width="25" class ="artifact_img"/><br/>
              {{research_lab.current_cost_crystal}}<img src="assets/images/crystal.png" width="25" class ="artifact_img"/>
              <button class="btn btn-success btn-icon btn-icon-standalone btn-icon-standalone-right" ng-click="UpgradeLab()">
                  <i class="fa-bolt"></i>
                  <span>Upgrade</span>
              </button>

            </td>
          </tr>

      </table>
      <table ng-if="research_lab.current_lab_level==0" class="resource_table" style="width:100%">
          <tr>
            <td style="width: 500px; position: relative;">
              <img src="assets/images/icon/research_lab.jpg" width="500" class="resource_img image-grey"/></div>
              <div class="building_locked_image">
                <img src="assets/images/locked.png" width="50" />
              </div>
            </td>
            <td style="width: 300px; padding-bottom: 150px;">
             Requirements:<br/>
             <font ng-if="metal.current_mine_level>=10" color="#6AEB6A">Metal Mine Level 10 <br/></font>
             <font ng-if="metal.current_mine_level<10" color="#F63249">Metal Mine Level 10 <br/></font>
             <font ng-if="crystal.current_mine_level>=7" color="#6AEB6A">Crystal Mine Level 7 <br/></font>
             <font ng-if="crystal.current_mine_level<7" color="#F63249">Crystal Mine Level 7 <br/></font>
             <font ng-if="level.current_level>=10" color="#6AEB6A">Zone Level 10 <br/></font>
             <font ng-if="level.current_level<10" color="#F63249">Zone Level 10 <br/></font>
            </td>
            <td >
              <button class="btn btn-success btn-icon btn-icon-standalone btn-icon-standalone-right" ng-click="Build('research_lab')">
                  <i class="fa-upload"></i>
                  <span>Build Research Lab</span>
              </button>
            </td>
          </tr>

      </table>

      <br />

      <table style="width:100%">
        <tr>
            <td style="text-align: center; width: auto">
              <h4>Dark Matter Lab</h4>
            </td>
        </tr>
      </table>
      <table style="width:100%">
        <tr>
            <td>
              <small>Dark matter is a nonluminous material that is postulated to exist in space and that could take any of several forms including weakly interacting particles. It is extremely rare and requires the top research facility to acquire them.
              </small>
            </td>
          </tr>
      </table>
      <table ng-if="dm_lab.current_lab_level !=0" class="resource_table" style="width:100%">
          <tr>
            <td style="width: 500px">
              <img src="assets/images/icon/dm_lab.jpg" width="500" class="resource_img"/></div>
            </td>
            <td style="width: 300px; ">
              <div class="spinner"></div>
              Status: Up 100% <br/><br/>
              Level {{dm_lab.current_lab_level}}:<br/> {{dm_lab.current_lab_level * 1}} <img src="assets/images/dark_matter.png" width="25" class ="artifact_img"/> per day <br/><br/>
            </td>
            <td>
              {{dm_lab.current_cost_metal}}<img src="assets/images/mineral.png" width="25" class ="artifact_img"/><br/>
              {{dm_lab.current_cost_crystal}}<img src="assets/images/crystal.png" width="25" class ="artifact_img"/>
              <button class="btn btn-success btn-icon btn-icon-standalone btn-icon-standalone-right" ng-click="UpgradeDMLab()">
                  <i class="fa-bolt"></i>
                  <span>Upgrade</span>
              </button>

            </td>
          </tr>

      </table>
      <table ng-if="dm_lab.current_lab_level==0" class="resource_table" style="width:100%">
          <tr>
            <td style="width: 500px; position: relative;">
              <img src="assets/images/icon/dm_lab.jpg" width="500" class="resource_img image-grey"/></div>
              <div class="building_locked_image">
                <img src="assets/images/locked.png" width="50" />
              </div>
            </td>
            <td style="width: 300px; padding-bottom: 150px;">
             Requirements:<br/>
             <font ng-if="metal.current_mine_level>=20" color="#6AEB6A">Metal Mine Level 20 <br/></font>
             <font ng-if="metal.current_mine_level<20" color="#F63249">Metal Mine Level 20 <br/></font>
             <font ng-if="crystal.current_mine_level>=13" color="#6AEB6A">Crystal Mine Level 13 <br/></font>
             <font ng-if="crystal.current_mine_level<13" color="#F63249">Crystal Mine Level 13 <br/></font>
             <font ng-if="level.current_level>=17" color="#6AEB6A">Zone Level 17 <br/></font>
             <font ng-if="level.current_level<17" color="#F63249">Zone Level 17 <br/></font>
            </td>
            <td >
              <button class="btn btn-success btn-icon btn-icon-standalone btn-icon-standalone-right" ng-click="Build('dm_lab')">
                  <i class="fa-upload"></i>
                  <span>Build Dark Matter Lab</span>
              </button>
            </td>
          </tr>

      </table>

      <br />
      <br />
      <br />
      <br />
      <br />
      <br />









</div>


