
<div class="row">




  		<br />


  		Mine-<br /><br />

      Level: <span id="current_mine_level">{{metal.current_mine_level}}</span>
  		<br />


  		Upgrade Cost: <span id="metalcursorCost">{{metal.current_cost}}</span>
  		<br />

  		<button ng-click="BuyMetalMine()">Upgrade Mine</button>


  		<br />
  		<br />




  		<br />


  		CrystalMine-<br /><br />

      Level: <span id="cystalcursors">{{crystal.current_mine_level}}</span>
  		<br />


  		Upgrade Cost: <span id="cystalcursorCost">{{crystal.current_cost}}</span>
  		<br />

  		<button ng-click="BuyCrystalMine()">Upgrade Crystal Mine</button>


  		<br />
  		<br />
  		<br />
  		<br />
  		<br />
  		<br />









</div>
