



<nav class="navbar horizontal-menu" ng-class="{'navbar-fixed-top': layoutOptions.horizontalMenu.isFixed, 'navbar-minimal': layoutOptions.horizontalMenu.minimal, 'click-to-expand': layoutOptions.horizontalMenu.clickToExpand}">

	<script type="text/ng-template" id="shop_modal">
		<div class="modal-header">
			<h4 class="modal-title">Confirm Modal</h4>
		</div>

		<div class="modal-body">

			You can close this modal when you click on button only!

		</div>

		<div class="modal-footer">
			<button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Continue</button>
		</div>
	</script>





	<script type="text/ng-template" id="menu-item-link-tpl">

		<i ng-if="item.icon" class="{{item.icon}}"></i>
		<span ng-if="item.title == 'M'" class="title"><div id="tooltip_hori_title">{{metal.current_owned}}<span>Metal, the most basic resource for any space expedition</span></div></span>
		<span ng-if="item.title == 'C'" class="title"><div id="tooltip_hori_title">{{crystal.current_owned}}<span>Crystal, rare resource that is used for research and trading</span></div></span>
		<span ng-if="item.title == 'DM'" class="title"><div id="tooltip_hori_title">{{dark_matter.current_owned}}<span>Dark matter, a hypothetical kind of matter that cannot be seen with <br/>
																																																							telescopes but accounts for most of the matter in the universe. <br/>
																																																							Increase your mine and crystal mine income by <div id="attention">{{dark_matter.current_increase}}%</div> for each dark matter you have</span></div></span>
		<span ng-if="item.label" class="label label-{{item.label.classname}} pull-right" ng-class="{'hidden-collapsed': item.label.collapsedHide}">{{item.label.text}}</span>
	</script>

	<script type="text/ng-template" id="menu-items-tpl">
		<li ng-repeat="item in menuItems" ng-class="{'opened': item.isOpen, 'active': item.isActive, 'has-sub': item.menuItems.length}" >
			<a href="#{{item.link}}" ng-include="'menu-item-link-tpl'"></a>

			<ul ng-if="item.menuItems.length" ng-init="subItems = item.menuItems" ng-include="'menu-items-recursive-tpl'"></ul>
		</li>
	</script>

	<script type="text/ng-template" id="menu-items-recursive-tpl">
		<li ng-repeat="item in subItems" ng-class="{'opened expanded': item.isOpen, 'active': item.isActive, 'has-sub': item.menuItems.length}" >

			<ul ng-if="item.menuItems.length" ng-init="subItems = item.menuItems" ng-include="'menu-items-recursive-tpl'"></ul>
		</li>
	</script>

	<script type="text/ng-template" id="menu-items-sub-items">
		<li ng-repeat="item in subItems">
			<a href="#{{item.link}}" ng-include="'menu-item-link-tpl'"></a>

			<ul ng-if="item.menuItems.length" ng-init="subItems = item.menuItems" ng-include="'menu-items-recursive-tpl'"></ul>
		</li>
	</script>
















	<div class="navbar-inner">

		<!-- Navbar Brand -->
		<div class="navbar-brand">
			<a href="#/app/dashboard-variant-1" class="logo">
				<img src="assets/images/Logo_Short.png" width="80" alt=""/>
			</a>

		</div>

		<!-- Mobile Toggles Links -->
		<div class="nav navbar-mobile">

			<!-- This will toggle the mobile menu and will be visible only on mobile devices -->
			<div class="mobile-menu-toggle">
				<!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
				<a href="" data-toggle="settings-pane" data-animate="true">
					<i class="linecons-cog"></i>
				</a>

				<a href="" ng-click="mobileUserInfoToggle()" data-toggle="user-info-menu-horizontal">
					<i class="fa-bell-o"></i>
					<span class="badge badge-success">7</span>
				</a>

				<!-- data-toggle="mobile-menu-horizontal" will show horizontal menu links only -->
				<!-- data-toggle="mobile-menu" will show sidebar menu links only -->
				<!-- data-toggle="mobile-menu-both" will show sidebar and horizontal menu links -->
				<a href="" ng-click="mobileMenuToggle()" data-toggle="mobile-menu-horizontal">
					<i class="fa-bars"></i>
				</a>
			</div>

		</div>

		<div class="navbar-mobile-clear"></div>


		<ul class="navbar-nav" ng-class="{'mobile-is-visible': layoutOptions.horizontalMenu.isMenuOpenMobile}" ng-include="'menu-items-tpl'"></ul>


		<!-- notifications and other links -->
		<ul class="nav nav-userinfo navbar-right" ng-class="{'mobile-is-visible': layoutOptions.userInfoNavVisible}">






			<li id="hori_logout">
					<a href="#login-light"><i class="linecons-lock"></i>Logout</a>

			</li>

			<li id="hori_shop">
					<a href="" ng-click="openModal('shop_modal')"><i class="linecons-heart"></i>Shop</a>
			</li>



		</ul>

	</div>

</nav>
