



<nav class="navbar horizontal-menu" ng-class="{'navbar-fixed-top': layoutOptions.horizontalMenu.isFixed, 'navbar-minimal': layoutOptions.horizontalMenu.minimal, 'click-to-expand': layoutOptions.horizontalMenu.clickToExpand}">

	<style media="screen" type="text/css">
	input[type=range] {
	  -webkit-appearance: none;
	  display:inline;
	  width: 40%;
	  margin: 3.8px 0;
	}
	input[type=range]:focus {
	  outline: none;
	}
	input[type=range]::-webkit-slider-runnable-track {
	  width: 100%;
	  height: 8.4px;
	  cursor: pointer;
	  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	  background: #5fd357;
	  border-radius: 1.3px;
	  border: 0.2px solid #010101;
	}
	input[type=range]::-webkit-slider-thumb {
	  box-shadow: 0.4px 0.4px 0.4px #000000, 0px 0px 0.4px #0d0d0d;
	  border: 1px solid #000000;
	  height: 16px;
	  width: 16px;
	  border-radius: 3px;
	  background: #ffffff;
	  cursor: pointer;
	  -webkit-appearance: none;
	  margin-top: -4px;
	}
	input[type=range]:focus::-webkit-slider-runnable-track {
	  background: #72d86b;
	}
	input[type=range]::-moz-range-track {
	  width: 100%;
	  height: 8.4px;
	  cursor: pointer;
	  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	  background: #5fd357;
	  border-radius: 1.3px;
	  border: 0.2px solid #010101;
	}
	input[type=range]::-moz-range-thumb {
	  box-shadow: 0.4px 0.4px 0.4px #000000, 0px 0px 0.4px #0d0d0d;
	  border: 1px solid #000000;
	  height: 16px;
	  width: 16px;
	  border-radius: 3px;
	  background: #ffffff;
	  cursor: pointer;
	}
	input[type=range]::-ms-track {
	  width: 100%;
	  height: 8.4px;
	  cursor: pointer;
	  background: transparent;
	  border-color: transparent;
	  color: transparent;
	}
	input[type=range]::-ms-fill-lower {
	  background: #4cce43;
	  border: 0.2px solid #010101;
	  border-radius: 2.6px;
	  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	}
	input[type=range]::-ms-fill-upper {
	  background: #5fd357;
	  border: 0.2px solid #010101;
	  border-radius: 2.6px;
	  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	}
	input[type=range]::-ms-thumb {
	  box-shadow: 0.4px 0.4px 0.4px #000000, 0px 0px 0.4px #0d0d0d;
	  border: 1px solid #000000;
	  height: 16px;
	  width: 16px;
	  border-radius: 3px;
	  background: #ffffff;
	  cursor: pointer;
	  height: 8.4px;
	}
	input[type=range]:focus::-ms-fill-lower {
	  background: #5fd357;
	}
	input[type=range]:focus::-ms-fill-upper {
	  background: #72d86b;
	}

.battle_div {
	    position:relative;
			left: -150px;
			opacity: 0;
}
.battle_div_enemies_animate {
	    position:relative;
			top: 0px;
			left: 290px;
			opacity: 0;
}
.battle_div_enemies_bar {
	    position:relative;
			top: 1px;
			left: 225px;
			opacity: 0;
}
.battle_div_attack {
	    position:relative;
			top: -25px;
			left: 110px;
}
.battle_div_skill {
	    position:relative;
			display: inline;
			top: -30px;
			left: 0px;
}
.battle_div_reward {
	    position:relative;
			display: inline;
			top: -70px;
			left: 130px;
			opacity: 0;
}

.battle_assemble_skill {
	display: inline;
}



#friendly_fleets, #enemy_fleets{
    width:400px;
    height: auto;
    margin-right:15px;
    float:left;
}

#filler{
    height:0px;
}

#filler_prep{
    height:0px;
}


.stat_div, .ships_left{
	width:400px;
    height: auto;
    margin-right:15px;
    float:left;
}

.stat_img_tot{
	width: 30px;
	border-radius: 3px 3px 3px 3px;
}

.ship_skill_img_battle{
	width: 20px;
	border-radius: 3px 3px 3px 3px;
}

.Start{
	position:relative;
	top: 80px;
	left: 215px;
}
.NextFloor{
	position:relative;
	top: 80px;
	left: 195px;
}
.Abandon{
	position:absolute;
	top: 25px;
	left: 750px;
}

.ship_assemble_attack{
	position:relative;
	display: inline;
	top:70px;
	left:110px;
}




.ships_casualties_img{
	border-radius: 7px 7px 7px 7px;
	width: 50px;
	height: 30px;
}

.remaining_hp_counter{
	font-size: 150%;
}
.remaining_hp{
	position: relative;
	left: -200px;
	opacity: 0;
}
.casualties {
	    position:relative;
		left: -200px;
		opacity: 0;
}
.loot {
	    position:relative;
		left: -200px;
		opacity: 0;
}




	</style>
























































	<script type="text/ng-template" id="research">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h3 class="modal-title" id ="modal-title">Research </h3>
		<div>Artifacts are scattered throughout the universe and wield great power, collect them and improve your empire</div>
	</div>


	<div class="modal-body" ng-controller="GameCtrl">
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>

	</div>

	</script>





	<script type="text/ng-template" id="battle_prep">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h3 class="modal-title" id ="modal-title">Assemble your fleet </h3>
		<small>Fleet coposition can affect the outcome of the battle</small>
	</div>


	<div class="modal-body" ng-controller="BattleCtrl">

		<div class="ships_left">
			<div id="LF_form" class="assemble_form">
				<form>
				<h4><div class="ship_assemble_attack"><img src="assets/images/sword.png" class="stat_img"/><b>{{format_number(LF_fleet_Attk)}}</b></div>
				
				</h4>
				<h4>
				<img src="assets/images/Ships/light_fighter.jpg" class="ships_assemble_img" /> &nbsp Light Fighter
				
				</h4>
				

				<input type="range" name="amountRange" ng-model="LF_Slider" min="0" max={{ships.light_fighter.current_owned}} value="0" oninput="this.form.amountInput.value=this.value" />
				<input name="amountInput" ng-model="LF_Text" min="0" max={{ships.light_fighter.current_owned}} value="0" oninput="this.form.amountRange.value=this.value" ng-style="{position:'relative', width:'45px'}"/>
				</form>
				
				<div class="battle_div_enemies" ng-repeat="skill in ships.light_fighter.skills">
					<div ng-if="skill.unlocked==1" class="battle_assemble_skill tooltip_ship_skill"><img ng-src="{{skills_info.skills[find_index(skill.name, skills_info.skills)].src}}" class="ship_skill_img_battle"/>
						<span>{{skill.name}}-<br/><br/>
						{{skills_info.skills[find_index(skill.name, skills_info.skills)].description}}<br />
						</span>

					</div>
				</div>





				
			</div>



		<div id="HF_form" class="assemble_form">
			<form>
			<h4>
			<div class="ship_assemble_attack"><img src="assets/images/sword.png" class="stat_img"/><b>{{format_number(HF_fleet_Attk)}}</b></div>
			</h4>
			<h4>
			<img src="assets/images/Ships/heavy_fighter.jpg" class="ships_assemble_img" /> &nbsp Heavy Fighter
				
			</h4>

			<input type="range" name="amountRange" ng-model="HF_Slider" min="0" max={{ships.heavy_fighter.current_owned}} value="0" oninput="this.form.amountInput.value=this.value" />
			<input name="amountInput" ng-model="HF_Text" min="0" max={{ships.heavy_fighter.current_owned}} value="0" oninput="this.form.amountRange.value=this.value" ng-style="{position:'relative', width:'45px'}"/>
			</form>

			<div class="battle_div_enemies" ng-repeat="skill in ships.heavy_fighter.skills">
				<div ng-if="skill.unlocked==1" class="battle_assemble_skill tooltip_ship_skill"><img ng-src="{{skills_info.skills[find_index(skill.name, skills_info.skills)].src}}" class="ship_skill_img_battle"/>
					<span>{{skill.name}}-<br/><br/>
					{{skills_info.skills[find_index(skill.name, skills_info.skills)].description}}<br />
					</span>

				</div>
			</div>





			
		</div>



		<div id="WG_form" class="assemble_form">
			<form>
			<h4>
			<div class="ship_assemble_attack"><img src="assets/images/sword.png" class="stat_img"/><b>{{format_number(WG_fleet_Attk)}}</b></div>
			</h4>
			<h4>
			<img src="assets/images/Ships/worg.jpg" class="ships_assemble_img" /> &nbsp Worg
				
			</h4>

			<input type="range" name="amountRange" ng-model="WG_Slider" min="0" max={{ships.worg.current_owned}} value="0" oninput="this.form.amountInput.value=this.value" />
			<input name="amountInput" ng-model="WG_Text" min="0" max={{ships.worg.current_owned}} value="0" oninput="this.form.amountRange.value=this.value" ng-style="{position:'relative', width:'45px'}"/>
			</form>

			<div class="battle_div_enemies" ng-repeat="skill in ships.worg.skills">
				<div ng-if="skill.unlocked==1" class="battle_assemble_skill tooltip_ship_skill"><img ng-src="{{skills_info.skills[find_index(skill.name, skills_info.skills)].src}}" class="ship_skill_img_battle"/>
					<span>{{skill.name}}-<br/><br/>
					{{skills_info.skills[find_index(skill.name, skills_info.skills)].description}}<br />
					</span>

				</div>
			</div>





			
		</div>



		<div id="DS_form" class="assemble_form">
			<form>
			<h4>
			<div class="ship_assemble_attack"><img src="assets/images/sword.png" class="stat_img"/><b>{{format_number(DS_fleet_Attk)}}</b></div>
			</h4>
			<h4>
			<img src="assets/images/Ships/destroyer.jpg" class="ships_assemble_img" /> &nbsp Destroyer
				
			</h4>

			<input type="range" name="amountRange" ng-model="DS_Slider" min="0" max={{ships.destroyer.current_owned}} value="0" oninput="this.form.amountInput.value=this.value" />
			<input name="amountInput" ng-model="DS_Text" min="0" max={{ships.destroyer.current_owned}} value="0" oninput="this.form.amountRange.value=this.value" ng-style="{position:'relative', width:'45px'}"/>
			</form>

			<div class="battle_div_enemies" ng-repeat="skill in ships.destroyer.skills">
				<div ng-if="skill.unlocked==1" class="battle_assemble_skill tooltip_ship_skill"><img ng-src="{{skills_info.skills[find_index(skill.name, skills_info.skills)].src}}" class="ship_skill_img_battle"/>
					<span>{{skill.name}}-<br/><br/>
					{{skills_info.skills[find_index(skill.name, skills_info.skills)].description}}<br />
					</span>

				</div>
			</div>





			
		</div>



		<div id="SU_form" class="assemble_form">
			<form>
			<h4>
			<div class="ship_assemble_attack"><img src="assets/images/sword.png" class="stat_img"/><b>{{format_number(SU_fleet_Attk)}}</b></div>
			</h4>
			<h4>
			<img src="assets/images/Ships/succubus.jpg" class="ships_assemble_img" /> &nbsp Succubus
				
			</h4>

			<input type="range" name="amountRange" ng-model="SU_Slider" min="0" max={{ships.succubus.current_owned}} value="0" oninput="this.form.amountInput.value=this.value" />
			<input name="amountInput" ng-model="SU_Text" min="0" max={{ships.succubus.current_owned}} value="0" oninput="this.form.amountRange.value=this.value" ng-style="{position:'relative', width:'45px'}"/>
			</form>

			<div class="battle_div_enemies" ng-repeat="skill in ships.succubus.skills">
				<div ng-if="skill.unlocked==1" class="battle_assemble_skill tooltip_ship_skill"><img ng-src="{{skills_info.skills[find_index(skill.name, skills_info.skills)].src}}" class="ship_skill_img_battle"/>
					<span>{{skill.name}}-<br/><br/>
					{{skills_info.skills[find_index(skill.name, skills_info.skills)].description}}<br />
					</span>

				</div>
			</div>





			
		</div>



		<div id="COL_form" class="assemble_form">
			<form>
			<h4>
			<div class="ship_assemble_attack"><img src="assets/images/sword.png" class="stat_img"/><b>{{format_number(COL_fleet_Attk)}}</b></div>
			</h4>
			<h4>
			<img src="assets/images/Ships/colossus.jpg" class="ships_assemble_img" /> &nbsp Colossus
				
			</h4>

			<input type="range" name="amountRange" ng-model="COL_Slider" min="0" max={{ships.colossus.current_owned}} value="0" oninput="this.form.amountInput.value=this.value" />
			<input name="amountInput" ng-model="COL_Text" min="0" max={{ships.colossus.current_owned}} value="0" oninput="this.form.amountRange.value=this.value" ng-style="{position:'relative', width:'45px'}"/>
			</form>

			<div class="battle_div_enemies" ng-repeat="skill in ships.colossus.skills">
				<div ng-if="skill.unlocked==1" class="battle_assemble_skill tooltip_ship_skill"><img ng-src="{{skills_info.skills[find_index(skill.name, skills_info.skills)].src}}" class="ship_skill_img_battle"/>
					<span>{{skill.name}}-<br/><br/>
					{{skills_info.skills[find_index(skill.name, skills_info.skills)].description}}<br />
					</span>

				</div>
			</div>





			
		</div>




		<div id="MD_form" class="assemble_form">
			<form>
			<h4>
			<div class="ship_assemble_attack"><img src="assets/images/sword.png" class="stat_img"/><b>{{format_number(MD_fleet_Attk)}}</b></div>
			</h4>
			<h4>
			<img src="assets/images/Ships/medusa.jpg" class="ships_assemble_img" /> &nbsp Medusa
				
			</h4>

			<input type="range" name="amountRange" ng-model="MD_Slider" min="0" max={{ships.medusa.current_owned}} value="0" oninput="this.form.amountInput.value=this.value" />
			<input name="amountInput" ng-model="MD_Text" min="0" max={{ships.medusa.current_owned}} value="0" oninput="this.form.amountRange.value=this.value" ng-style="{position:'relative', width:'45px'}"/>
			</form>

			<div class="battle_div_enemies" ng-repeat="skill in ships.medusa.skills">
				<div ng-if="skill.unlocked==1" class="battle_assemble_skill tooltip_ship_skill"><img ng-src="{{skills_info.skills[find_index(skill.name, skills_info.skills)].src}}" class="ship_skill_img_battle"/>
					<span>{{skill.name}}-<br/><br/>
					{{skills_info.skills[find_index(skill.name, skills_info.skills)].description}}<br />
					</span>

				</div>
			</div>





			
		</div>




		<div id="SV_form" class="assemble_form">
			<form>
			<h4>
			<div class="ship_assemble_attack"><img src="assets/images/sword.png" class="stat_img"/><b>{{format_number(SV_fleet_Attk)}}</b></div>
			</h4>
			<h4>
			<img src="assets/images/Ships/science_vessel.jpg" class="ships_assemble_img" /> &nbsp Science Vessel
				
			</h4>

			<input type="range" name="amountRange" ng-model="SV_Slider" min="0" max={{ships.science_vessel.current_owned}} value="0" oninput="this.form.amountInput.value=this.value" />
			<input name="amountInput" ng-model="SV_Text" min="0" max={{ships.science_vessel.current_owned}} value="0" oninput="this.form.amountRange.value=this.value" ng-style="{position:'relative', width:'45px'}"/>
			</form>

			<div class="battle_div_enemies" ng-repeat="skill in ships.science_vessel.skills">
				<div ng-if="skill.unlocked==1" class="battle_assemble_skill tooltip_ship_skill"><img ng-src="{{skills_info.skills[find_index(skill.name, skills_info.skills)].src}}" class="ship_skill_img_battle"/>
					<span>{{skill.name}}-<br/><br/>
					{{skills_info.skills[find_index(skill.name, skills_info.skills)].description}}<br />
					</span>

				</div>
			</div>





			
		</div>



			<div id="PTH_form" class="assemble_form">
				<form>
				<h4>
				<div class="ship_assemble_attack"><img src="assets/images/sword.png" class="stat_img"/><b>{{format_number(PTH_fleet_Attk)}}</b></div>
				</h4>
				<h4>
				<img src="assets/images/Ships/pantheon.jpg" class="ships_assemble_img" /> &nbsp Pantheon
					
				</h4>

				<input type="range" name="amountRange" ng-model="PTH_Slider" min="0" max={{ships.pantheon.current_owned}} value="0" oninput="this.form.amountInput.value=this.value" />
				<input name="amountInput" ng-model="PTH_Text" min="0" max={{ships.pantheon.current_owned}} value="0" oninput="this.form.amountRange.value=this.value" ng-style="{position:'relative', width:'45px'}"/>
				</form>

				<div class="battle_div_enemies" ng-repeat="skill in ships.pantheon.skills">
					<div ng-if="skill.unlocked==1" class="battle_assemble_skill tooltip_ship_skill"><img ng-src="{{skills_info.skills[find_index(skill.name, skills_info.skills)].src}}" class="ship_skill_img_battle"/>
						<span>{{skill.name}}-<br/><br/>
						{{skills_info.skills[find_index(skill.name, skills_info.skills)].description}}<br />
						</span>

					</div>
				</div>





				
			</div>
		</div>













		<!--Stats-->
		<div class="stat_div">
		<br/>
				<h5>
							<img src="assets/images/shield.png" class="stat_img_tot"/><b>{{format_number(LF_fleet_Shield +  HF_fleet_Shield + WG_fleet_Shield + DS_fleet_Shield + COL_fleet_Shield + SU_fleet_Shield+ SV_fleet_Shield + MD_fleet_Shield+ PTH_fleet_Shield)}} </b>/
							<img src="assets/images/heart.png" class="stat_img_tot"/><b>{{format_number(LF_fleet_HP +  HF_fleet_HP + WG_fleet_HP + DS_fleet_HP + COL_fleet_HP + SU_fleet_HP+ SV_fleet_HP + MD_fleet_HP+ PTH_fleet_HP)}} </b><br/>
				</h5>


		</div>

		<div id="filler_prep">
		</div>

	</div>

	<div class="modal-footer" ng-controller="BattleCtrl">

		<button type="button" class="btn btn-danger" ng-click="Advance()">Advance <i class="fa-arrow-right"></i></button>

	</div>

	</script>



















	<script type="text/ng-template" id="battle" >



	<div class="modal-body" ng-controller="MainBattleCtrl">
		<div class="modal-header">
		<h3 class="modal-title" id ="modal-title">{{current_instance}} - Floor {{current_floor}}/{{raids[current_instance]['section']}}

		<button id="Start" type="button" class="btn btn-success Start" ng-click="Start();">Start <i class="fa-check"></i></button>
		<button id="NextFloor" type="button" class="btn btn-success NextFloor" ng-click="NextFloor();" >Next Floor <i class="fa-arrow-right"></i></button>
		<button type="button" class="btn btn-danger Abandon" ng-click="Retreat();">Retreat <i class="fa-close"></i>

		</button>
		</h3>

		</div>


		<br/>

		<div id='friendly_fleets'>

			<div id="TOT_battle" class="battle_div">
				<h4></h4>
				<div progressbar class="progress_TOT_HP active" max="progress_TOT_HP.max" value="progress_TOT_HP.value" type="{{progress_TOT_HP.color}}" ng-style="{position:'relative', height :'20px', width :'350px', 'border-radius':'15px 15px 15px 15px', 'background-color':'grey'}"></div>
				<div progressbar class="progress_TOT_Shield active" max="progress_TOT_Shield.max" value="progress_TOT_Shield.value" type="{{progress_TOT_Shield.color}}" ng-style="{position:'absolute', bottom:'0', right:'0', top:'0', left:'0', height :'20px', width :'350pxs', 'border-radius':'15px 15px 15px 15px', 'background-color':'transparent'}"></div>

				<b><img src="assets/images/shield.png" class="stat_img"/></b>{{format_number(CUR_TOT_SHIELD)}} /
				<b><img src="assets/images/heart.png" class="stat_img"/></b>{{format_number(CUR_TOT_HP)}} &nbsp&nbsp&nbsp&nbsp&nbsp

			</div>
			<br/>













			<div id="LF_battle" ng-if="ships.light_fighter.assembled>0" class="battle_div battle_div_friendly">
				<h4><img src="assets/images/Ships/light_fighter.jpg" class="ships_assemble_img" /> &nbsp Light Fighter Fleet ({{format_number(ships.light_fighter.assembled)}})</h4>
				<div class="battle_div_attack"><h5><b><img src="assets/images/sword.png" class="stat_img"/> {{format_number(current_LF_Attack)}}<br/></b></h5></div>
			<br/><br/>
			</div>
			
			<div id="HF_battle" ng-if="ships.heavy_fighter.assembled>0" class="battle_div battle_div_friendly">
				<h4><img src="assets/images/Ships/heavy_fighter.jpg" class="ships_assemble_img" /> &nbsp Heavy Fighter Fleet ({{format_number(ships.heavy_fighter.assembled)}})</h4>
				<div class="battle_div_attack"><h5><b><img src="assets/images/sword.png" class="stat_img"/> {{format_number(current_HF_Attack)}}<br/></b></h5></div>
			<br/><br/>
			</div>
			
			<div id="WG_battle" ng-if="ships.worg.assembled>0" class="battle_div battle_div_friendly">
				<h4><img src="assets/images/Ships/worg.jpg" class="ships_assemble_img" /> &nbsp Worg Fleet ({{format_number(ships.worg.assembled)}})</h4>
				<div class="battle_div_attack"><h5><b><img src="assets/images/sword.png" class="stat_img"/> {{format_number(current_WG_Attack)}}<br/></b></h5></div>
			<br/><br/>
			</div>

			<div id="DS_battle" ng-if="ships.destroyer.assembled>0" class="battle_div battle_div_friendly">
				<h4><img src="assets/images/Ships/destroyer.jpg" class="ships_assemble_img" /> &nbsp Destroyer Fleet ({{format_number(ships.destroyer.assembled)}})</h4>
				<div class="battle_div_attack"><h5><b><img src="assets/images/sword.png" class="stat_img"/> {{format_number(current_DS_Attack)}}<br/></b></h5></div>
			<br/><br/>
			</div>


			<div id="SU_battle" ng-if="ships.succubus.assembled>0" class="battle_div battle_div_friendly">
				<h4><img src="assets/images/Ships/succubus.jpg" class="ships_assemble_img" /> &nbsp Succubus Fleet ({{format_number(ships.succubus.assembled)}})</h4>
				<div class="battle_div_attack"><h5><b><img src="assets/images/sword.png" class="stat_img"/> {{format_number(current_SU_Attack)}}<br/></b></h5></div>
			<br/><br/>	
			</div>


			<div id="COL_battle" ng-if="ships.colossus.assembled>0" class="battle_div battle_div_friendly">
				<h4><img src="assets/images/Ships/colossus.jpg" class="ships_assemble_img" /> &nbsp Colossus Fleet ({{format_number(ships.colossus.assembled)}})</h4>
				<div class="battle_div_attack"><h5><b><img src="assets/images/sword.png" class="stat_img"/> {{format_number(current_COL_Attack)}}<br/></b></h5></div>
			<br/><br/>	
			</div>

			<div id="MD_battle" ng-if="ships.medusa.assembled>0" class="battle_div battle_div_friendly">
				<h4><img src="assets/images/Ships/medusa.jpg" class="ships_assemble_img" /> &nbsp Medusa Fleet ({{format_number(ships.medusa.assembled)}})</h4>
				<div class="battle_div_attack"><h5><b><img src="assets/images/sword.png" class="stat_img"/> {{format_number(current_MD_Attack)}}<br/></b></h5></div>
			<br/><br/>	
			</div>

			<div id="SV_battle" ng-if="ships.science_vessel.assembled>0" class="battle_div battle_div_friendly">
				<h4><img src="assets/images/Ships/science_vessel.jpg" class="ships_assemble_img" /> &nbsp Science Vessel Fleet ({{format_number(ships.science_vessel.assembled)}})</h4>
				<div class="battle_div_attack"><h5><b><img src="assets/images/sword.png" class="stat_img"/> {{format_number(current_SV_Attack)}}<br/></b></h5></div>
			<br/><br/>	
			</div>


			<div id="PTH_battle" ng-if="ships.pantheon.assembled>0" class="battle_div battle_div_friendly">
				<h4><img src="assets/images/Ships/pantheon.jpg" class="ships_assemble_img" /> &nbsp Pantheon Fleet ({{format_number(ships.pantheon.assembled)}})</h4>
				<div class="battle_div_attack"><h5><b><img src="assets/images/sword.png" class="stat_img"/> {{format_number(current_PTH_Attack)}}<br/></b></h5></div>
			<br/><br/>	
			</div>

		</div>






			<!--ENEMY INFO!-->

			<div id='enemy_fleets'>


			<div id="TOT_battle_enemy" class="battle_div_enemies_bar">
				<h4></h4>
				<div progressbar class="progress_TOT_HP_enemy active" max="MAX_TOT_HP_ENEMY" value="progress_TOT_HP_enemy.value" type="{{progress_TOT_HP_enemy.color}}" ng-style="{position:'relative', height :'20px', width :'350px', 'border-radius':'15px 15px 15px 15px', 'background-color':'grey'}"></div>


				<div progressbar class="progress_TOT_Shield_enemy active" max="MAX_TOT_HP_ENEMY" value="progress_TOT_Shield_enemy.value" type="{{progress_TOT_Shield_enemy.color}}" ng-style="{position:'absolute', bottom:'0', right:'0', top:'0', left:'0', height :'20px', width :'350pxs', 'border-radius':'15px 15px 15px 15px', 'background-color':'transparent'}"></div>
				<b><img src="assets/images/shield.png" class="stat_img"/></b>{{format_number(CUR_TOT_SHIELD_ENEMY)}} /
				<b><img src="assets/images/heart.png" class="stat_img"/></b>{{format_number(CUR_TOT_HP_ENEMY)}} &nbsp&nbsp&nbsp&nbsp&nbsp

			</div>
			<br/>




			<div class="battle_div_enemies" ng-repeat="enemy in enemies">
				<div class="battle_div_enemies_animate">
					<h4><font color="#F63249"><img src="assets/images/Ships/light_fighter.jpg" class="ships_assemble_img" /> &nbsp {{enemy.name}} ({{enemy.info.amount}})</h4>
					<div class="battle_div_attack"><h5><b><img src="assets/images/sword.png" class="stat_img"/> {{format_number(enemy.info.Attack * enemy.info.amount)}}</b></h5></div></font>
					
				</div>
				<div class="battle_div_reward"><font color="#59D059"><b>+{{format_number(enemy.reward_metal * enemy.info.amount)}}</b></font><img src="assets/images/mineral.png" width="25" class ="artifact_img"/>&nbsp</div>
				<div class="battle_div_reward"><font color="#59D059"><b>+{{format_number(enemy.reward_crystal * enemy.info.amount)}}</b></font><img src="assets/images/crystal.png" width="25" class ="artifact_img"/>&nbsp</div>
			</div>









			</div>
















			<div ng-style="{height: filler_height}"></div>

		</div>


		<div class="modal-footer">

		</div>

	</div>



	</script>
























	<script type="text/ng-template" id="post_battle_victory">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h3 class="modal-title" id ="modal-title">Vitory </h3>
	</div>


	<div class="modal-body" ng-controller="PostBattleVictoryCtrl">


	<div class="remaining_hp">
			<div><b>Remaining HP-</b></div> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<div id="remaining_hp_count" class="xe-counter" xe-counter data-count=".num" data-from="0" data-suffix="%" data-duration="2">
				<strong class="num remaining_hp_counter" style="color:black;">0.0%</strong>
			</div>
		</div>
		<br/>


		<div class="casualties">
			<div><b>Casualties-</b></div>
			<div class="battle_div_causalties">
				<div id="LF_casualties" ng-if="ships.light_fighter.casualties>0" class="battle_animate_casualties">
					<h5><img src="assets/images/Ships/light_fighter.jpg" class="ships_casualties_img" /> &nbsp <font color="red"><b>-{{ships.light_fighter.casualties}}</b></font>
					</h5>
				</div>

				<div id="HF_casualties" ng-if="ships.heavy_fighter.casualties>0" class="battle_animate_casualties">
					<h5><img src="assets/images/Ships/heavy_fighter.jpg" class="ships_casualties_img" /> &nbsp <font color="red"><b>-{{ships.heavy_fighter.casualties}}</b></font></h5>
				</div>

				<div id="WG_casualties" ng-if="ships.worg.casualties>0" class="battle_animate_casualties">
					<h5><img src="assets/images/Ships/worg.jpg" class="ships_casualties_img" /> &nbsp <font color="red"><b>-{{ships.worg.casualties}}</b></font></h5>
				</div>

				<div id="DS_casualties" ng-if="ships.destroyer.casualties>0" class="battle_animate_casualties">
					<h5><img src="assets/images/Ships/destroyer.jpg" class="ships_casualties_img" /> &nbsp <font color="red"><b>-{{ships.destroyer.casualties}}</b></font></h5>
				</div>


				<div id="SU_casualties" ng-if="ships.succubus.casualties>0" class="battle_animate_casualties">
					<h5><img src="assets/images/Ships/succubus.jpg" class="ships_casualties_img" /> &nbsp <font color="red"><b>-{{ships.succubus.casualties}}</b></font></h5>
				</div>


				<div id="COL_casualties" ng-if="ships.colossus.casualties>0" class="battle_animate_casualties">
					<h5><img src="assets/images/Ships/colossus.jpg" class="ships_casualties_img" /> &nbsp <font color="red"><b>-{{ships.colossus.casualties}}</b></font></h5>
				</div>

				<div id="MD_casualties" ng-if="ships.medusa.casualties>0" class="battle_animate_casualties">
					<h5><img src="assets/images/Ships/medusa.jpg" class="ships_casualties_img" /> &nbsp <font color="red"><b>-{{ships.medusa.casualties}}</b></font></h5>
				</div>

				<div id="SV_casualties" ng-if="ships.science_vessel.casualties>0" class="battle_animate_casualties">
					<h5><img src="assets/images/Ships/science_vessel.jpg" class="ships_casualties_img" /> &nbsp <font color="red"><b>-{{ships.science_vessel.casualties}}</b></font></h5>
				</div>


				<div id="PTH_casualties" ng-if="ships.pantheon.casualties>0" class="battle_animate_casualties">
					<h5><img src="assets/images/Ships/pantheon.jpg" class="ships_casualties_img" /> &nbsp <font color="red"><b>-{{ships.pantheon.casualties}}</b></font></h5>
				</div>







			</div>





		</div>
		<br/>






		<div class="loot">
			<div><b>Loot-</b></div><br/>
			<div><font color="#59D059"><b>+{{metal_reward}}</b></font><img src="assets/images/mineral.png" width="25" class ="artifact_img"/>&nbsp</div>
			<div><font color="#59D059"><b>+{{crystal_reward}}</b></font><img src="assets/images/crystal.png" width="25" class ="artifact_img"/>&nbsp</div>

			<div class="battle_div_enemies" ng-repeat="artifact in artifact_loot track by $index">
				<img ng-src="{{artifacts['artifact_list'][find_index(artifact, artifacts['artifact_list'])]['img_src']}}" width="50" class ="artifact_img"/>{{artifact}}<br/><br/>
			</div>

		</div>




	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-info" ng-click="currentModal.close();">Close</button>

	</div>

	</script>























	<script type="text/ng-template" id="post_battle_defeat">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h3 class="modal-title" id ="modal-title">Defeat </h3>
	</div>


	<div class="modal-body" ng-controller="PostBattleDefeatCtrl">

		<div class="remaining_hp">
			<div><b>Remaining HP-</b></div> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<div id="remaining_hp_count" class="xe-counter" xe-counter data-count=".num" data-from="0" data-suffix="%" data-duration="2">
				<strong class="num remaining_hp_counter" style="color:black;">0.0%</strong>
			</div>
		</div>
		<br/>


		<div class="casualties">
			<div><b>Casualties-</b></div>
			<div class="battle_div_causalties">
				<div id="LF_casualties" ng-if="ships.light_fighter.casualties>0" class="battle_animate_casualties">
					<h5><img src="assets/images/Ships/light_fighter.jpg" class="ships_casualties_img" /> &nbsp <font color="red"><b>-{{ships.light_fighter.casualties}}</b></font>
					</h5>
				</div>

				<div id="HF_casualties" ng-if="ships.heavy_fighter.casualties>0" class="battle_animate_casualties">
					<h5><img src="assets/images/Ships/heavy_fighter.jpg" class="ships_casualties_img" /> &nbsp <font color="red"><b>-{{ships.heavy_fighter.casualties}}</b></font></h5>
				</div>

				<div id="WG_casualties" ng-if="ships.worg.casualties>0" class="battle_animate_casualties">
					<h5><img src="assets/images/Ships/worg.jpg" class="ships_casualties_img" /> &nbsp <font color="red"><b>-{{ships.worg.casualties}}</b></font></h5>
				</div>

				<div id="DS_casualties" ng-if="ships.destroyer.casualties>0" class="battle_animate_casualties">
					<h5><img src="assets/images/Ships/destroyer.jpg" class="ships_casualties_img" /> &nbsp <font color="red"><b>-{{ships.destroyer.casualties}}</b></font></h5>
				</div>

				<div id="SU_casualties" ng-if="ships.succubus.casualties>0" class="battle_animate_casualties">
					<h5><img src="assets/images/Ships/succubus.jpg" class="ships_casualties_img" /> &nbsp <font color="red"><b>-{{ships.succubus.casualties}}</b></font></h5>
				</div>


				<div id="COL_casualties" ng-if="ships.colossus.casualties>0" class="battle_animate_casualties">
					<h5><img src="assets/images/Ships/colossus.jpg" class="ships_casualties_img" /> &nbsp <font color="red"><b>-{{ships.colossus.casualties}}</b></font></h5>
				</div>

				<div id="MD_casualties" ng-if="ships.medusa.casualties>0" class="battle_animate_casualties">
					<h5><img src="assets/images/Ships/medusa.jpg" class="ships_casualties_img" /> &nbsp <font color="red"><b>-{{ships.medusa.casualties}}</b></font></h5>
				</div>

				<div id="SV_casualties" ng-if="ships.science_vessel.casualties>0" class="battle_animate_casualties">
					<h5><img src="assets/images/Ships/science_vessel.jpg" class="ships_casualties_img" /> &nbsp <font color="red"><b>-{{ships.science_vessel.casualties}}</b></font></h5>
				</div>


				<div id="PTH_casualties" ng-if="ships.pantheon.casualties>0" class="battle_animate_casualties">
					<h5><img src="assets/images/Ships/pantheon.jpg" class="ships_casualties_img" /> &nbsp <font color="red"><b>-{{ships.pantheon.casualties}}</b></font></h5>
				</div>






			</div>





		</div>
		<br/>






		<div class="loot">
			<div><b>Loot-</b></div><br/>
			<div><font color="#59D059"><b>+{{metal_reward}}</b></font><img src="assets/images/mineral.png" width="25" class ="artifact_img"/>&nbsp</div>
			<div><font color="#59D059"><b>+{{crystal_reward}}</b></font><img src="assets/images/crystal.png" width="25" class ="artifact_img"/>&nbsp</div>

			<div class="battle_div_enemies" ng-repeat="artifact in artifact_loot track by $index">
				<img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>{{artifact}} <br/><br/>
			</div>

		</div>




	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-info" ng-click="currentModal.close();">Close</button>

	</div>

	</script>




































	<script type="text/ng-template" id="shop_modal">
		<div class="modal-header" ng-controller="GameCtrl">
			<h3 class="modal-title">Shop</h3>
			<small>Each dark matter bought <div id="attention">helps</div> making the game better.
			<br/>We will also <div id="attention">remove ads</div> with your first purchase.</small>
		</div>

		<div class="modal-body" ng-controller="GameCtrl">
			<table id="shop_table" style="width:100%">

					<tr>
						<td>
						10 <img src="assets/images/dark_matter.png" width="25" class ="artifact_img"/>
						</td>
						<td>
							<label>
									<label>
									<input type="checkbox" id="shop_10_dm" class="cbr">
									<div id="attention">$0.99 CAD </div> <img src="assets/images/fire.png" width="25" class ="artifact_img"/>
									</label>
							</label>
						</td>

					</tr>


					<tr>
						<td>
						50 <img src="assets/images/dark_matter.png" width="25" class ="artifact_img"/>
						</td>
						<td>
							<label>
									<label>
									<input type="checkbox" id="shop_50_dm" class="cbr">
									$2.49 CAD
									</label>
							</label>
						</td>

					</tr>

					<tr>
						<td>
						100 <img src="assets/images/dark_matter.png" width="25" class ="artifact_img"/>
						</td>
						<td>
							<label>
									<label>
									<input type="checkbox" id="shop_100_dm" class="cbr">
									$3.99 CAD
									</label>
							</label>
						</td>

					</tr>

					<tr>
						<td>
						200 <img src="assets/images/dark_matter.png" width="25" class ="artifact_img"/>
						</td>
						<td>
							<label>
									<label>
									<input type="checkbox" id="shop_200_dm" class="cbr">
									$5.99 CAD
									</label>
							</label>
						</td>

					</tr>
			</table>
		</div>

		<div class="modal-footer" ng-controller="GameCtrl">
			<button type="button" class="btn " ng-click="currentModal.dismiss();">Cancel</button>
			<button type="button" class="btn btn-info" ng-click="PaypalCheckout();">Checkout with Paypal</button>
		</div>
	</script>





	<script type="text/ng-template" id="menu-item-link-tpl">


		<img src="{{item.icon}}" width="25" class ="artifact_img"/>
		<span ng-if="item.title == 'M'" class="title"><div id="tooltip_hori_title" ng-controller="GameCtrl">{{format_number(metal.current_owned)}}<span>Metal, the most basic resource for any space expedition</span></div></span>
		<span ng-if="item.title == 'C'" class="title"><div id="tooltip_hori_title" ng-controller="GameCtrl">{{format_number(crystal.current_owned)}}<span>Crystal, rare resource that is used for building advanced ships and researching</span></div></span>
		<span ng-if="item.title == 'DM'" class="title"><div id="tooltip_hori_title" ng-controller="GameCtrl">{{format_number(dark_matter.current_owned)}}<span>Dark matter, a hypothetical kind of matter that cannot be seen with human eyes. They have the power to alter space and time</span></span>
		<span ng-if="item.label" class="label label-{{item.label.classname}} pull-right" ng-class="{'hidden-collapsed': item.label.collapsedHide}">{{item.label.text}}</span>
	</script>

	<script type="text/ng-template" id="menu-items-tpl">
		<li ng-repeat="item in menuItems" ng-class="{'opened': item.isOpen, 'active': item.isActive, 'has-sub': item.menuItems.length} " >
			<a href="#{{item.link}}" ng-include="'menu-item-link-tpl'"></a>

			<ul ng-if="item.menuItems.length" ng-init="subItems = item.menuItems" ng-include="'menu-items-recursive-tpl'" ></ul>
		</li>
	</script>

	<script type="text/ng-template" id="menu-items-recursive-tpl">
		<li ng-repeat="item in subItems" ng-class="{'opened expanded': item.isOpen, 'active': item.isActive, 'has-sub': item.menuItems.length}" >

			<ul ng-if="item.menuItems.length" ng-init="subItems = item.menuItems" ng-include="'menu-items-recursive-tpl'"></ul>
		</li>
	</script>

	<script type="text/ng-template" id="menu-items-sub-items">
		<li ng-repeat="item in subItems" >
			<a href="#{{item.link}}" ng-include="'menu-item-link-tpl'"></a>

			<ul ng-if="item.menuItems.length" ng-init="subItems = item.menuItems" ng-include="'menu-items-recursive-tpl'"></ul>
		</li>
	</script>
















	<div class="navbar-inner">

		<!-- Navbar Brand -->
		<div class="navbar-brand">
			<a href="#/app/dashboard-variant-1" class="logo">
				<img src="assets/images/Logo_Short.png" width="80" alt=""/>
			</a>

		</div>

		<!-- Mobile Toggles Links -->
		<div class="nav navbar-mobile">

			<!-- This will toggle the mobile menu and will be visible only on mobile devices -->
			<div class="mobile-menu-toggle">
				<!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
				<a href="" data-toggle="settings-pane" data-animate="true">
					<i class="linecons-cog"></i>
				</a>

				<a href="" ng-click="mobileUserInfoToggle()" data-toggle="user-info-menu-horizontal">
					<i class="fa-bell-o"></i>
					<span class="badge badge-success">7</span>
				</a>

				<!-- data-toggle="mobile-menu-horizontal" will show horizontal menu links only -->
				<!-- data-toggle="mobile-menu" will show sidebar menu links only -->
				<!-- data-toggle="mobile-menu-both" will show sidebar and horizontal menu links -->
				<a href="" ng-click="mobileMenuToggle()" data-toggle="mobile-menu-horizontal">
					<i class="fa-bars"></i>
				</a>
			</div>

		</div>

		<div class="navbar-mobile-clear"></div>


		<ul class="navbar-nav" ng-class="{'mobile-is-visible': layoutOptions.horizontalMenu.isMenuOpenMobile}" ng-include="'menu-items-tpl'"></ul>


		<!-- notifications and other links -->
		<ul class="nav nav-userinfo navbar-right" ng-class="{'mobile-is-visible': layoutOptions.userInfoNavVisible}">






			<li id="hori_logout">
					<a href="#login-light"><i class="linecons-lock"></i>Logout</a>

			</li>

			<li id="hori_shop">
					<a href="" ng-click="openModal('shop_modal')"><i class="linecons-heart"></i>Shop</a>
			</li>



		</ul>

	</div>

</nav>
