<style media="screen" type="text/css">


.artifact_tooltip_uncommon { position: relative; }
.artifact_tooltip_uncommon span { display: none; color: #FFFFFF; }
.artifact_tooltip_uncommon:hover span {
	display: block;
	position: absolute;
	width: auto;
	background: #5d5757;
	height: auto;
	left: 60px;
	top: -10px;
	color: #FFFFFF;
	padding: 0 5px;
	border-style: solid;
    border-color: #6AEB6A;
    border-radius: 7px; }
.artifact_tooltip_rare { position: relative; }
.artifact_tooltip_rare span { display: none; color: #FFFFFF; }
.artifact_tooltip_rare:hover span {
	display: block;
	position: absolute;
	width: auto;
	background: #5d5757;
	height: auto;
	left: 60px;
	top: -10px;
	color: #FFFFFF;
	padding: 0 5px;
	border-style: solid;
    border-color: #4646F3;
    border-radius: 7px; }
.artifact_tooltip_epic { position: relative; }
.artifact_tooltip_epic span { display: none; color: #FFFFFF; }
.artifact_tooltip_epic:hover span {
	display: block;
	position: absolute;
	width: auto;
	background: #5d5757;
	height: auto;
	left: 60px;
	top: -10px;
	color: #FFFFFF;
	padding: 0 5px;
	border-style: solid;
    border-color: #C741C7;
    border-radius: 7px; }
.artifact_tooltip_legendary { position: relative; }
.artifact_tooltip_legendary span { display: none; color: #FFFFFF; }
.artifact_tooltip_legendary:hover span {
	display: block;
	position: absolute;
	width: auto;
	background: #5d5757;
	height: auto;
	left: 60px;
	top: -10px;
	color: #FFFFFF;
	padding: 0 5px;
	border-style: solid;
    border-color: #FBB93F;
    border-radius: 7px; }







#tooltip_raid { position: relative; }
#tooltip_raid span { display: none; color: #FFFFFF; }
#tooltip_raid:hover span {
	display: block;
	position: absolute;
	width: 200px;
	background: #5d5757;
	height: auto;
	left: 835px;
	top: 0px;
	color: #FFFFFF;
	padding: 0 5px; }


#tooltip_hori_title { position: relative; }
#tooltip_hori_title span { display: none; color: #FFFFFF; }
#tooltip_hori_title:hover span {
	display: block;
	position: absolute;
	background: #5d5757;
	line-height: 150%;
	width: 200px;
	left: 30px;
	top: 50px;
	color: #FFFFFF;
	text-align: justify;
}







#attention {
	display: inline;
	color: #dea373;
}


#skill_tree td{
	padding-bottom: 1em;
}


.raid_table td{
	padding-bottom: 10em;
}

#points-remaining{
	text-align: right;
	display: inline;
	font-size: 15px;
}





#hori_logout a{
    color: white;
}
#hori_logout:hover a{
    color: black;
}
#hori_shop a{
    color: white;
}
#hori_shop:hover a{
    color: black;
}



#shipyard_table td{
	padding-bottom: 10em;
}

#shipyard{
	background-color: black;
}


.artifact_img{
	border-radius: 10px 10px 10px 10px;

}
.raid_img{
	border-radius: 7px 7px 7px 7px;
	cursor: pointer;
}
.raid_locked_image{
	border-radius: 30px 30px 30px 30px;
	position: absolute;
	top: 150px;
	left: 380px;
	background-color:white;
	cursor: pointer;
}
.image-grey {
    display:block;
    -webkit-filter: grayscale(100%);
}


</style>

















<script type="text/ng-template" id="talent_tree">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h3 class="modal-title" id ="modal-title">Artifacts </h3> 
		<div>Artifacts are scattered throughout the universe and wield great power, collect them and improve your empire</div>
	</div>


	<div class="modal-body" ng-controller="GameCtrl">

			<button ng-click="unlock_test()">unlock_test</button>
			<button ng-click="lock_test()">lock_test</button>		
			<table id="skill_tree" style="width:100%">

					<tr>
						<td>

						<div ng-if="artifacts.1.unlocked" class="artifact_tooltip_uncommon"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>
						<div ng-if="!artifacts.1.unlocked" class="artifact_tooltip_uncommon"><img src="assets/images/locked.png" width="50" class ="artifact_img"/>
																								<span>Locked<br/>
																								</span>
																								<br />
						</div>

						</td>
						<td>

						<div ng-if="artifacts.2.unlocked" class="artifact_tooltip_rare"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>
						<div ng-if="!artifacts.2.unlocked" class="artifact_tooltip_rare"><img src="assets/images/locked.png" width="50" class ="artifact_img"/>
																								<span>Locked<br/>
																								</span>
																								<br />
						</div>


						</td>
						<td>

						<div ng-if="artifacts.3.unlocked" class="artifact_tooltip_epic"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>


						<div ng-if="!artifacts.2.unlocked" class="artifact_tooltip_epic"><img src="assets/images/locked.png" width="50" class ="artifact_img"/>
																								<span>Locked<br/>
																								</span>
																								<br />
						</div>

						</td>
						<td>

						<div ng-if="artifacts.4.unlocked" class="artifact_tooltip_legendary"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>
						<div ng-if="!artifacts.4.unlocked" class="artifact_tooltip_legendary"><img src="assets/images/locked.png" width="50" class ="artifact_img"/>
																								<span>Locked<br/>
																								</span>
																								<br />
						</div>


						</td>
					</tr>
					<tr>
						<td>

						<div class="artifact_tooltip_uncommon"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
						<td>

						<div class="artifact_tooltip_rare"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
						<td>

						<div class="artifact_tooltip_epic"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
						<td>

						<div class="artifact_tooltip_legendary"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
					</tr>

					<tr>
						<td>

						<div class="artifact_tooltip_uncommon"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
						<td>

						<div class="artifact_tooltip_rare"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
						<td>

						<div class="artifact_tooltip_epic"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
						<td>

						<div class="artifact_tooltip_legendary"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
					</tr>

					<tr>
						<td>

						<div class="artifact_tooltip_uncommon"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
						<td>

						<div class="artifact_tooltip_rare"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
						<td>

						<div class="artifact_tooltip_epic"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
						<td>

						<div class="artifact_tooltip_legendary"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
					</tr>
					<tr>
						<td>

						<div class="artifact_tooltip_uncommon"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
						<td>

						<div class="artifact_tooltip_rare"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
						<td>

						<div class="artifact_tooltip_epic"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
						<td>

						<div class="artifact_tooltip_legendary"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
					</tr>

					<tr>
						<td>

						<div class="artifact_tooltip_uncommon"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
						<td>

						<div class="artifact_tooltip_rare"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
						<td>

						<div class="artifact_tooltip_epic"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
						<td>

						<div class="artifact_tooltip_legendary"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
					</tr>
					<tr>
						<td>

						<div class="artifact_tooltip_uncommon"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
						<td>

						<div class="artifact_tooltip_rare"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
						<td>

						<div class="artifact_tooltip_epic"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
					</tr>
					<tr>
						<td>

						<div class="artifact_tooltip_uncommon"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
						<td>

						<div class="artifact_tooltip_rare"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
						<td>

						<div class="artifact_tooltip_epic"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
						
					</tr>
					<tr>
						<td>

						<div class="artifact_tooltip_uncommon"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
						<td>

						<div class="artifact_tooltip_rare"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
						<td>

						<div class="artifact_tooltip_epic"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
						
					</tr>
					<tr>
						<td>

						<div class="artifact_tooltip_uncommon"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
						<td>

						<div class="artifact_tooltip_rare"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>

						
					</tr>
					<tr>
						<td>

						<div class="artifact_tooltip_uncommon"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
						<td>

						<div class="artifact_tooltip_rare"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
					
						
					</tr>
					<tr>
						<td>

						<div class="artifact_tooltip_uncommon"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
		
					</tr>
					<tr>
						<td>

						<div class="artifact_tooltip_uncommon"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
		
					</tr>
					<tr>
						<td>

						<div class="artifact_tooltip_uncommon"><img src="assets/images/artifacts/blue_stone.png" width="50" class ="artifact_img"/>
																								<span>Title-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
		
					</tr>



			</table>




	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>

	</div>

</script>





























<script type="text/ng-template" id="shipyard">
	<div class="modal-header">
		<h4 class="modal-title">Shipyard</h4>
	</div>

	<div class="modal-body">















			<table id="shipyard_table" style="width:100%">
					<tr>
						<td style="width: 400px">
							<img src="assets/images/Ships/light_fighter.jpg" width="400" height="300" /></div>
						</td>
						<td>
							Light Fighter
						</td>
						<td>
							Light Fighter
						</td>
					</tr>
					<tr>
						<td style="width: 400px">
							<img src="assets/images/Ships/heavy_fighter.jpg" width="400" height="300" /></div>
						</td>
						<td>
							Heavy Fighter
						</td>
					</tr>
					<tr>
						<td style="width: 400px">
							<img src="assets/images/Ships/cargo_ship.jpg" width="400" height="300" /></div>
						</td>
						<td>
							Cargo Ship
						</td>
					</tr>
					<tr>
						<td style="width: 400px">
							<img src="assets/images/Ships/worg.jpg" width="400" height="300" /></div>
						</td>
						<td>
							Worg
						</td>
					</tr>
					<tr>
						<td style="width: 400px">
							<img src="assets/images/Ships/destroyer.jpg" width="400" height="300" /></div>
						</td>
						<td>
							Destroyer
						</td>
					</tr>
					<tr>
						<td style="width: 400px">
							<img src="assets/images/Ships/colossus.jpg" width="400" height="300" /></div>
						</td>
						<td>
							Colossus
						</td>
					</tr>
					<tr>
						<td style="width: 400px">
							<img src="assets/images/Ships/science_v.jpg" width="400" height="300" /></div>
						</td>
						<td>
							Science Vessel
						</td>
					</tr>
					<tr>
						<td style="width: 400px">
							<img src="assets/images/Ships/panthon.jpg" width="400" height="300" /></div>
						</td>
						<td>
							Pantheon
						</td>
					</tr>
					<tr>
						<td style="width: 400px">
							<img src="assets/images/Ships/medusa.jpg" width="400" height="300" /></div>
						</td>
						<td>
							Medusa
						</td>
					</tr>
					<tr>
						<td style="width: 400px">
							<img src="assets/images/Ships/wormhole_generator.jpg" width="400" height="300" /></div>
						</td>
						<td>
							Wormhole Ring
						</td>
					</tr>

			</table>

	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Continue</button>
	</div>



</script>





































<script type="text/ng-template" id="expedition">
	<div class="modal-header">
		<h3 class="modal-title">Raids</h3>
	</div>

	<div class="modal-body" ng-controller="GameCtrl">
			<table class="raid_table" style="width:100%">
					<tr>
						<td>
									<h4>Oatis-Rugged Paradise</h4>
									<small>Lore here</small>

									
									<div id="tooltip_raid">

										

										<img ng-if="(raids['Oatis']['timer']!='00:00:00') || (raids['Oatis']['unlocked']==0)" src="assets/images/raids/rugged_paradise.jpg" width="835" height= "350" class ="raid_img image-grey" ng-click="EnterInstance('Oatis');"/>
										<img ng-if="raids['Oatis']['unlocked']==0" src="assets/images/locked.png" width="50" class ="raid_locked_image" ng-click="EnterInstance('Oatis');"/>
										<img ng-if="(raids['Oatis']['timer']=='00:00:00') && (raids['Oatis']['unlocked']==1)" src="assets/images/raids/rugged_paradise.jpg" width="835" height= "350" class ="raid_img" ng-click="EnterInstance('Oatis');"/>

										<span>
											Require Zone Level:<br/> 
											<font ng-if="(raids['Oatis']['unlocked']==1)" color="#64CA64">{{raids['Oatis']['required_level']}}</font>
											<font ng-if="(raids['Oatis']['unlocked']==0)" color="#FD3636">{{raids['Oatis']['required_level']}}</font>
											<br /><br />

											Remaining Cooldown Time: </br>
											<font ng-if="(raids['Oatis']['timer']=='00:00:00')" color="64CA64">{{raids['Oatis']['timer']}}</font>
											<font ng-if="(raids['Oatis']['timer']!='00:00:00')" color="FD3636">{{raids['Oatis']['timer']}}</font><br />
											<button class="btn btn-purple" ng-click="RefreshRaidCD('Oatis');">Refresh cooldown</button>2<img src="assets/images/dark_matter.png" width="25" class ="artifact_img"/>
											<br /><br />

											Limitation1<br />
											Limitation1<br />
											Limitation1<br /><br />

											Enemies:<br />
											Enemy1<br />
											Enemy2<br />
											Enemy3<br />
										</span>

									</div>
									

						</td>
					</tr>
					<tr>
						<td>
									<h4>Clade-Lost City</h4>
									<small>Lore here</small>


									<div id="tooltip_raid"><img src="assets/images/raids/city_of_the_lost.jpg" width="835" height= "350" class ="raid_img"/>
									<span>Clade-The Lost City<br/>
									Increases your metal mine income rate by some amount.<br />
									Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
									Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span></div>

						</td>
					</tr>
					<tr>
						<td>
									<h4>Neibos-Noxious Coliseum</h4>
									<div id="tooltip_raid"><img src="assets/images/raids/the_noxious_coliseum.jpg" width="835" height= "350" class ="raid_img"/>
									<span>Neibos-The Noxious Coliseum<br/>
									Increases your metal mine income rate by some amount.<br />
									Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
									Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span></div>

						</td>
					</tr>
					<tr>
						<td>
									<h4>Veotis-Planet of Blackice</h4>
									<div id="tooltip_raid"><img src="assets/images/raids/mountain_of_black_ice.jpg" width="835" height= "350" class ="raid_img"/>
									<span>Cargo Improvement-<br/>
									Increases your metal mine income rate by some amount.<br />
									Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
									Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span></div>

						</td>
					</tr>
					<tr>
						<td>
									<h4>Shora-Crimson Prison</h4>
									<div id="tooltip_raid"><img src="assets/images/raids/crimson_prison.jpg" width="835" height= "350" class ="raid_img"/>
									<span>Cargo Improvement-<br/>
									Increases your metal mine income rate by some amount.<br />
									Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
									Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span></div>

						</td>
					</tr>
					<tr>
						<td>
									<h4>Dasloth-City of Black Angels</h4>
									<div id="tooltip_raid"><img src="assets/images/raids/the_black_angel.jpg" width="835" height= "350" class ="raid_img"/>
									<span>Cargo Improvement-<br/>
									Increases your metal mine income rate by some amount.<br />
									Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
									Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span></div>

						</td>
					</tr>
					<tr>
						<td>
									<h4>Aria-Planet of Infinity</h4>
									<div id="tooltip_raid"><img src="assets/images/raids/the_infinity_coliseum.jpg" width="835" height= "350" class ="raid_img"/>
									<span>Cargo Improvement-<br/>
									Increases your metal mine income rate by some amount.<br />
									Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
									Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span></div>

						</td>
					</tr>
					<tr>
						<td>
									<h4>Juiria-Cloud Temple</h4>
									<div id="tooltip_raid"><img src="assets/images/raids/cloud_temple.jpg" width="835" height= "350" class ="raid_img"/>
									<span>Cargo Improvement-<br/>
									Increases your metal mine income rate by some amount.<br />
									Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
									Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span></div>

						</td>
					</tr>
					<tr>
						<td>
									<h4>Stara-Factory of Fear</h4>
									<div id="tooltip_raid"><img src="assets/images/raids/factory_of_fear.jpg" width="835" height= "350" class ="raid_img"/>
									<span>Cargo Improvement-<br/>
									Increases your metal mine income rate by some amount.<br />
									Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
									Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span></div>

						</td>
					</tr>
					<tr>
						<td>
									<h4>Quamia-City of Salvation</h4>
									<div id="tooltip_raid"><img src="assets/images/raids/the_salvation_stadium.jpg" width="835" height= "350" class ="raid_img"/>
									<span>Cargo Improvement-<br/>
									Increases your metal mine income rate by some amount.<br />
									Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
									Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span></div>

						</td>
					</tr>
					<tr>
						<td>
									<h4>Nosmov-Demigod's Laststand</h4>
									<div id="tooltip_raid"><img src="assets/images/raids/the_demigod_stadium.jpg" width="835" height= "350" class ="raid_img"/>
									<span>Cargo Improvement-<br/>
									Increases your metal mine income rate by some amount.<br />
									Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
									Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span></div>

						</td>
					</tr>
			</table>

	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Continue</button>
	</div>
</script>




























































<script type="text/ng-template" id="menu-item-link-tpl">

	<img src="{{item.icon}}" width="25" class ="artifact_img"/>
	<span ng-if="item.title == 'M'" class="title"><div id="tooltip_hori_title">{{metal.current_owned}}<span>Metal, the most basic resource for any space expedition</span></div></span>
	<span ng-if="item.title == 'C'" class="title"><div id="tooltip_hori_title">{{crystal.current_owned}}<span>Crystal, rare resource that is used for research and trading</span></div></span>
	<span ng-if="item.title == 'DM'" class="title"><div id="tooltip_hori_title">{{dark_matter.current_owned}}<span>Dark matter, a hypothetical kind of matter that cannot be seen with <br/>
																																																						telescopes but accounts for most of the matter in the universe. <br/>
																																																						Increase your mine and crystal mine income by <div id="attention">{{dark_matter.current_increase}}%</div> for each dark matter you have</span></div></span>
	<span ng-if="item.label" class="label label-{{item.label.classname}} pull-right" ng-class="{'hidden-collapsed': item.label.collapsedHide}">{{item.label.text}}</span>
</script>

<script type="text/ng-template" id="menu-items-tpl">
	<li ng-repeat="item in menuItems" ng-class="{'opened': item.isOpen, 'active': item.isActive, 'has-sub': item.menuItems.length}" >
		<a ng-if="item.modal != ''"href="#{{item.link}}" ng-include="'menu-item-link-tpl'" ng-click="openModal(item.modal, 'lg')"></a>
		<a ng-if="item.modal == ''"href="#{{item.link}}" ng-include="'menu-item-link-tpl'"></a>

		<ul ng-if="item.menuItems.length" ng-init="subItems = item.menuItems" ng-include="'menu-items-recursive-tpl'"></ul>
	</li>
</script>

<script type="text/ng-template" id="menu-items-recursive-tpl">
	<li ng-repeat="item in subItems" ng-class="{'opened expanded': item.isOpen, 'active': item.isActive, 'has-sub': item.menuItems.length}">
		<a href="#{{item.link}}" ng-include="'menu-item-link-tpl'"></a>
		<ul ng-if="item.menuItems.length" ng-init="subItems = item.menuItems" ng-include="'menu-items-recursive-tpl'"></ul>
	</li>
</script>


<ul id="main-menu" class="main-menu" ng-class="{'mobile-is-visible': layoutOptions.sidebar.isMenuOpenMobile}" ng-include="'menu-items-tpl'">
</ul>
