<style media="screen" type="text/css">


#tooltip { position: relative; }
#tooltip span { display: none; color: #FFFFFF; }
#tooltip:hover span {
	display: block;
	position: absolute;
	width: auto;
	background: #5d5757;
	height: auto;
	left: 100px;
	top: -10px;
	color: #FFFFFF;
	padding: 0 5px; }



#attention {
	display: inline;
	color: #dea373;
}


#skill_tree td{
	padding-bottom: 10em;
}


#points-remaining{
	text-align: right;
	display: inline;
	font-size: 15px;
}



#tooltip_hori_title { position: relative; }
#tooltip_hori_title span { display: none; color: #FFFFFF; }
#tooltip_hori_title:hover span {
	display: block;
	position: absolute;
	background: #5d5757;
	line-height: 150%;
	width: 200px;
	left: 30px;
	top: 50px;
	color: #FFFFFF;
	text-align: justify;
}


#hori_logout a{
    color: white;
}
#hori_logout:hover a{
    color: black;
}
#hori_shop a{
    color: white;
}
#hori_shop:hover a{
    color: black;
}



#shipyard_table td{
	padding-bottom: 10em;
}

#shipyard{
	background-color: black;
}






</style>

















<script type="text/ng-template" id="talent_tree">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id ="modal-title">Artifacts </h4>
		<div>Artifacts are scattered throughout the universe and wield great power, collect them and improve your empire</div>
	</div>

	<div class="modal-body" ng-controller="GameCtrl">
			<table id="skill_tree" style="width:100%">
					<tr>
						<td>

						<div id="tooltip"><img src="assets/images/icon/Cargo_Improvement.png" width="50" />
																								<span>Cargo Improvement-<br/>
																								Increases your metal mine income rate by some amount.<br />
																								Current %: <div id="attention">{{specialization.Cargo_Improvement.current_level * 4}}%</div><br />
																								Next Level %: <div id="attention">{{(specialization.Cargo_Improvement.current_level+1) * 4}}%</div></span>
																								<br />
						</div>

						</td>
					</tr>


					<tr>
						<td>

						<div id="tooltip">Resource Balancing-<span>Everytime you harvest metal, you have <div id="attention">20% </div> chance of getting some extra crystal.<br />
																								Current %: <div id="attention">{{specialization.Nemesis.current_level * 2}}%</div> of metal harveted<br />
																								Next Level %: <div id="attention">{{(specialization.Nemesis.current_level+1) * 2}}%</div> of metal harveted</span>
																								<br />
						<img src="assets/images/icon/Balance.png" width="50" /></div>



								Level: {{specialization.Nemesis.current_level}} <br />
								Research Cost: {{specialization.Nemesis.metal_cost}} <br />
								<button ng-click="Research('Nemesis')">Research</button>

						</td>

					</tr>


			</table>

	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>
		<button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Save changes</button>
	</div>

</script>





























<script type="text/ng-template" id="shipyard">
	<div class="modal-header">
		<h4 class="modal-title">Shipyard</h4>
	</div>

	<div class="modal-body">















			<table id="shipyard_table" style="width:100%">
					<tr>
						<td style="width: 400px">
							<img src="assets/images/Ships/light_fighter.jpg" width="400" height="300" /></div>
						</td>
						<td>
							Light Fighter
						</td>
						<td>
							Light Fighter
						</td>
					</tr>
					<tr>
						<td style="width: 400px">
							<img src="assets/images/Ships/heavy_fighter.jpg" width="400" height="300" /></div>
						</td>
						<td>
							Heavy Fighter
						</td>
					</tr>
					<tr>
						<td style="width: 400px">
							<img src="assets/images/Ships/cargo_ship.jpg" width="400" height="300" /></div>
						</td>
						<td>
							Cargo Ship
						</td>
					</tr>
					<tr>
						<td style="width: 400px">
							<img src="assets/images/Ships/worg.jpg" width="400" height="300" /></div>
						</td>
						<td>
							Worg
						</td>
					</tr>
					<tr>
						<td style="width: 400px">
							<img src="assets/images/Ships/destroyer.jpg" width="400" height="300" /></div>
						</td>
						<td>
							Destroyer
						</td>
					</tr>
					<tr>
						<td style="width: 400px">
							<img src="assets/images/Ships/colossus.jpg" width="400" height="300" /></div>
						</td>
						<td>
							Colossus
						</td>
					</tr>
					<tr>
						<td style="width: 400px">
							<img src="assets/images/Ships/science_v.jpg" width="400" height="300" /></div>
						</td>
						<td>
							Science Vessel
						</td>
					</tr>
					<tr>
						<td style="width: 400px">
							<img src="assets/images/Ships/panthon.jpg" width="400" height="300" /></div>
						</td>
						<td>
							Pantheon
						</td>
					</tr>
					<tr>
						<td style="width: 400px">
							<img src="assets/images/Ships/medusa.jpg" width="400" height="300" /></div>
						</td>
						<td>
							Medusa
						</td>
					</tr>
					<tr>
						<td style="width: 400px">
							<img src="assets/images/Ships/wormhole_generator.jpg" width="400" height="300" /></div>
						</td>
						<td>
							Wormhole Ring
						</td>
					</tr>

			</table>

	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Continue</button>
	</div>



</script>





































<script type="text/ng-template" id="expedition">
	<div class="modal-header">
		<h4 class="modal-title">Expedition</h4>
	</div>

	<div class="modal-body">

		You can close this modal when you click on button only!

	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Continue</button>
	</div>
</script>




























































<script type="text/ng-template" id="menu-item-link-tpl">
	<i ng-if="item.icon" class="{{item.icon}}"></i>
	<span ng-if="item.title == 'M'" class="title"><div id="tooltip_hori_title">{{metal.current_owned}}<span>Metal, the most basic resource for any space expedition</span></div></span>
	<span ng-if="item.title == 'C'" class="title"><div id="tooltip_hori_title">{{crystal.current_owned}}<span>Crystal, rare resource that is used for research and trading</span></div></span>
	<span ng-if="item.title == 'DM'" class="title"><div id="tooltip_hori_title">{{dark_matter.current_owned}}<span>Dark matter, a hypothetical kind of matter that cannot be seen with <br/>
																																																						telescopes but accounts for most of the matter in the universe. <br/>
																																																						Increase your mine and crystal mine income by <div id="attention">{{dark_matter.current_increase}}%</div> for each dark matter you have</span></div></span>
	<span ng-if="item.label" class="label label-{{item.label.classname}} pull-right" ng-class="{'hidden-collapsed': item.label.collapsedHide}">{{item.label.text}}</span>
</script>

<script type="text/ng-template" id="menu-items-tpl">
	<li ng-repeat="item in menuItems" ng-class="{'opened': item.isOpen, 'active': item.isActive, 'has-sub': item.menuItems.length}" >
		<a ng-if="item.modal != ''"href="#{{item.link}}" ng-include="'menu-item-link-tpl'" ng-click="openModal(item.modal, 'lg')"></a>
		<a ng-if="item.modal == ''"href="#{{item.link}}" ng-include="'menu-item-link-tpl'"></a>

		<ul ng-if="item.menuItems.length" ng-init="subItems = item.menuItems" ng-include="'menu-items-recursive-tpl'"></ul>
	</li>
</script>

<script type="text/ng-template" id="menu-items-recursive-tpl">
	<li ng-repeat="item in subItems" ng-class="{'opened expanded': item.isOpen, 'active': item.isActive, 'has-sub': item.menuItems.length}">
		<a href="#{{item.link}}" ng-include="'menu-item-link-tpl'"></a>
		<ul ng-if="item.menuItems.length" ng-init="subItems = item.menuItems" ng-include="'menu-items-recursive-tpl'"></ul>
	</li>
</script>


<ul id="main-menu" class="main-menu" ng-class="{'mobile-is-visible': layoutOptions.sidebar.isMenuOpenMobile}" ng-include="'menu-items-tpl'">
</ul>
