<style media="screen" type="text/css">


#tooltip { position: relative; }
#tooltip span { display: none; color: #FFFFFF; }
#tooltip:hover span { 
	display: block; 
	position: absolute; 
	width: 200px; 
	background: #aaa; 
	height: auto; 
	left: 100px; 
	top: -10px; 
	color: #FFFFFF; 
	padding: 0 5px; }

</style>










<script type="text/ng-template" id="modal-3">
	<div class="modal-header">
		<h4 class="modal-title">Confirm Modal</h4>
	</div>

	<div class="modal-body">

		You can close this modal when you click on button only!

	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Continue</button>
	</div>
</script>



















<script type="text/ng-template" id="modal-4">
	<div class="modal-header">
		<button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Specialization</h4>
	</div>

	<div class="modal-body" ng-controller="GameCtrl">
			<table style="width:100%">
					<tr>
						<td><div id="tooltip">Nemesis-<span>Introduction to HTML and CSS: tooltip with extra text</span></div>

								<br />
								Level: {{specialization.Nemesis.current_level}} <br />
								Research Cost: {{specialization.Nemesis.metal_cost}} <br />
								<button ng-click="Research('Nemesis')">Research</button>

						</td>
						<td><div id="tooltip">Nemesis-<span></span></div>

								<br />
								Level: {{specialization.Nemesis.current_level}} <br />
								Research Cost: {{specialization.Nemesis.metal_cost}} <br />
								<button ng-click="Research('Nemesis')">Research</button>

						</td>
						
					</tr>


			</table>

	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>
		<button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Save changes</button>
	</div>
	<div id="two" class="popupBox">Hovered content and a long one too<br /> works with line breaks too</div>
</script>








































<script type="text/ng-template" id="menu-item-link-tpl">
	<i ng-if="item.icon" class="{{item.icon}}"></i>
	<span class="title">{{item.title}}</span>
	<span ng-if="item.label" class="label label-{{item.label.classname}} pull-right" ng-class="{'hidden-collapsed': item.label.collapsedHide}">{{item.label.text}}</span>
</script>

<script type="text/ng-template" id="menu-items-tpl">
	<li ng-repeat="item in menuItems" ng-class="{'opened': item.isOpen, 'active': item.isActive, 'has-sub': item.menuItems.length}" ng-click="openModal(item.modal, 'lg')">
		<a href="#{{item.link}}" ng-include="'menu-item-link-tpl'"></a>

		<ul ng-if="item.menuItems.length" ng-init="subItems = item.menuItems" ng-include="'menu-items-recursive-tpl'"></ul>
	</li>
</script>

<script type="text/ng-template" id="menu-items-recursive-tpl">
	<li ng-repeat="item in subItems" ng-class="{'opened expanded': item.isOpen, 'active': item.isActive, 'has-sub': item.menuItems.length}">
		<a href="#{{item.link}}" ng-include="'menu-item-link-tpl'"></a>
		<ul ng-if="item.menuItems.length" ng-init="subItems = item.menuItems" ng-include="'menu-items-recursive-tpl'"></ul>
	</li>
</script>


<ul id="main-menu" class="main-menu" ng-class="{'mobile-is-visible': layoutOptions.sidebar.isMenuOpenMobile}" ng-include="'menu-items-tpl'">
</ul>
