<div id="chat" class="fixed" ng-controller="ChatCtrl"><!-- start: Chat Section -->

	<div class="chat-inner">


		<h2 class="chat-header">


			Zone Level {{level.current_level}}
		</h2>

		<br/>
		<div style='padding-left:100px;'>
					<canvas id='rotatingGlobe' width='300' height='300'
			style='width: 300px; height: 300px; cursor: move;'></canvas>
		</div>

		<br/><br/><br/><br/>

		<div style="padding-left:100px;">
			{{level.level_metal_req}}<img src="assets/images/mineral.png" width="25" class ="artifact_img"/><br/>
			{{level.level_crystal_req}}<img src="assets/images/crystal.png" width="25" class ="artifact_img"/><br/>
	        <button class="btn btn-success btn-icon btn-icon-standalone btn-icon-standalone-right" ng-click="NextLevel()">
	                  <i class="fa-arrow-right"></i>
	                  <span>Warp to next level</span>
	        </button>
		</div>


		<br/><br/><br/><br/>
		-------------------------------<br/>
		ADS Space



</div>










<!-- end: Chat Section -->
</div>
